# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/

# macOS
.DS_Store
._.DS_Store
**/.DS_Store
**/_._.DS_Store
._*

# IDE
.vscode/
.idea/

# Project specific
src/config/oma_control.db
output/
src/reference/pg_connection.properties
src/reference/com/test/mybatis/*.class
